.extra{
  flex :  1 1 auto;
}
.extra1{
  flex :  4 4 auto;
}


.logo{
    margin-left: 20px;
   }
  
.logo1 {
    margin-left: 0px;
    font-size: medium;
   }

.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0px;
    background: #eee;
  }
  
.mat-sidenav {
  width: 300px;
  padding: 10px;
  align-items: center;
  
 
  }
