<div class="body">
    <div class="side-dashboard-content">
      <p>Welcome {{name}}!!</p>
      <section class="about">
        <div class="container">
          <br>
          <p>Solar EPC Business is a leading solar engineering, procurement, and construction company. We offer a comprehensive range of services that includes design, procurement, construction, and maintenance of solar projects. Our team of experts has extensive experience in the renewable energy industry and is committed to delivering innovative and sustainable solutions to our clients.</p>
        </div>
      </section>
      <div class="slider">
		<div class="slides">
            <br>
			<div class="slide"><img src="/assets/Images/slide2.jpg" alt="Slide 1"></div>
			<div class="slide"><img src="/assets/Images/slide1.jpeg" alt="Slide 2"></div>
			<div class="slide"><img src="/assets/Images/slide3.jpg" alt="Slide 3"></div>
			<div class="slide"><img src="/assets/Images/silde4.jpg" alt="Slide 4"></div>
		</div>
	</div>
  </div>
</div>








