 
.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/assets/Images/b.jpg');
    background-size: cover;
    padding: 30px;
  }



.side-dashboard {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
  }
  
  .side-dashboard-nav {
    background-color: #252525;
    color: #fff;
    padding: 20px;
    width: 200px;
  }
  
  .side-dashboard-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .side-dashboard-nav li {
    border-bottom: 1px solid #444;
  }
  
  .side-dashboard-nav li a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .side-dashboard-nav li.active {
    background-color: #444;
  }
  
  .side-dashboard-content {
    flex: 1;
    padding: 20px;
  }
  
  .side-dashboard-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .side-dashboard-content p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slider {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.slides {
	display: flex;
	width: calc(100% * 4);
	animation: slide 20s infinite;
}

.slide {
	width: calc(100% / 4);
}

.slide img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-25%);
	}
	45% {
		transform: translateX(-25%);
	}
	50% {
		transform: translateX(-50%);
	}
	70% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-75%);
	}
	95% {
		transform: translateX(-75%);
	}
	100% {
		transform: translateX(0);
	}
}


.navigation-top-bar {
    background: #fff;
    width: 100%;
    height: 75px;
    line-height: 75px;
    border-bottom: 1px solid #e8e8ed;
}
.navigation-top-bar .toggler {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-right: 1px solid #e8e8ed;
    text-align: center;
}
.navigation-top-bar .toggler svg {
    fill: #d9d9e2;
    cursor: pointer;
} 


